.login {
  position: relative;
  max-width: 396px;
  margin: 40px auto 70px;
}

.login__preloader-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 40px 0;
}

.login__form-items {
  display: grid;
  gap: 24px;
}

.login__form {
  width: 100%;
}

.login__input-items {
  display: grid;
  gap: 5px;
}

.login__input-label {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
}

.login__input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 10px;
}

.login__input_error {
  color: #EE3465;
}

.login__input:focus {
  outline: none;
  border-bottom: 1px solid #FF6838;
}

.login__error {
  margin-top: 6px;
}

.login__button-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 152px;
}

.login__button {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: none;
  width: 100%;
  padding: 15px 0 15px;
  background-color: #FF6838;
  border-radius: 3px;
  margin: 20px 0 16px;
  transition: opacity .3s ease;
  cursor: pointer;
}

.login__button_disable {
  background-color: #F8F8F8;
  color: #C2C2C2;
  cursor: default;
}

.login__button:hover {
  opacity: .7;
}

.login__text {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #A0A0A0;
  margin: 0;
}

.login__text-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FF6838;
  text-decoration: none;
  transition: opacity .3s ease;
}

.login__text-link:hover {
  opacity: .7;
}

@media screen and (max-width: 1279px) {
  .login {
    margin: 40px auto 232px;
  }
}

@media screen and (max-width: 767px) {
  .login {
    margin: 50px auto 30px;
    max-width: 260px;
  }

  .login__title {
    margin: 0 0 80px 0;
    text-align: center;
  }

  .login__button-block {
    margin-top: 222px;
  }

  .login__button {
    margin: 20px 0 14px;
    font-size: 12px;
    line-height: 15px;
  }

  .login__text {
    font-size: 12px;
    line-height: 15px;
  }

  .login__text-link {
    font-size: 12px;
    line-height: 15px;
  }
}
